body {
    margin: 0;
    position: absolute;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

iframe, textarea {
    flex: 1 0 auto;
    width: 100%;
}

textarea {
    font-family: monospace;
}

#panel {
    flex: 0 0 auto;
    padding: 1em;
}

#panel a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid hsla(0,0%, 0%, 0.5);
    border-radius: 6px;
    padding: 4px 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-shadow: -1px -1px 0px hsl(0,0%,30%);
    color: white;
    background-image: linear-gradient(to bottom,
				      hsl(0,50%,40%), hsl(0,50%,30%));
    box-shadow: 1px 1px 2px hsla(0,0%,0%,0.3);
}

#panel a.inactive {
    background-image:
	linear-gradient(to bottom, hsl(0,0%,40%), hsl(0,0%,30%));
    pointer-events: none;
    cursor: default;
}

#panel > a:active {
    position:relative;
    top: 1px;
    left: 1px;
    box-shadow: 0px 0px 0px hsla(0,0%,0%,0.5);
}

#listing {
    list-style-type: none;
    -webkit-column-width: 15em;
    -moz-column-width: 15em;
    height: 6em;
    overflow-x: scroll;
}

#listing > li > span {
    font-size: smaller;
    margin-left: 0.5em;
}

#listing > li > span:before {
    content: "(";
}

#listing > li > span:after {
    content: ")";
}

#editor {
    flex: 4 0 auto;
    width: 100%;
}